


#rootNode{
    background-color: #ae6448;
    border-radius: 0px 0px 1em 1em;
    display:flex;
    align-items:center;
    justify-content:center;
    pointer-events: all;
}

.rootNodeContainerG{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.potText{
    font-size:30px;
}