
/* branch */
.mainLink{  
    fill: none; 
    stroke: #8f6b4d;
    stroke-width: 25px;
}

/* sub bush branch */
.subBushLink{
    fill: none;
    stroke: #8f6b4d;
    stroke-width: 7px;
    /* background-color: rgb(190, 146, 146); */
    
}




